// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.BoschPM{
	background-color: #62B1D0;
	border-radius: 5px;

	td{
		background-color: #62B1D0;
		padding-bottom: 10px;
	}
	th{
		text-align: center;
	}
	h3 {
		margin-top: 0px;
	}
}

.City-Wide{
	background-color: #FF8500;
	border-radius: 5px;
	td {
		background-color: #FF8500;
		padding-bottom: 10px;
	}
	th{
		text-align: center;
	}
	h3 {
		margin-top: 0px;
	}
}

.center {
	text-align: center;
}

.event-title{
	border-bottom: 1px solid lightgrey;
}

.event-table{
	margin-left: 5px;
	margin-right: 5px;
	padding-bottom: 0px;

	td{
		width: 5%;
	}
}

.devider {
	height: 5px;
	background-color: white;
	border-radius: 5px;
}

.form-inner{
	width: 500px;
}
.week{
	position: inline;
	float: left;
	height: 25px;
	width: 30px;
	border-radius: 100%;
	margin-top: 5px;
	margin-left: 5px;
	margin-bottom: 1px;
	p {
		position: relative;
		left: 6px;
		top: 3px;
    font-weight: bold;
}
}
.odd{
		background-color: #3EC871;
	}
	.even{
		background-color: #CDFADE;
	}