@import "bootstrap-sprockets";
@import "bootstrap";
// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.body{
	margin-top: 100px;
}
.BoschPM{
	background-color: #428bca;

}

.City-Wide{
	background-color: #FF8500;
	
}

.center {
	text-align: center;
}

.event-title{
	border-bottom: 1px solid lightgrey;
}

.event-table{
	margin-left: 5px;
	margin-right: 5px;
	padding-bottom: 0px;

	td{
		width: 5%;
	}
}

.devider {
	height: 5px;
	background-color: white;
	border-radius: 5px;
}

.form-inner{
	width: 500px;
	margin-left: auto;
	margin-right: auto;
}
.week{
	position: inline;
	float: left;
	height: 25px;
	width: 30px;
	border-radius: 100%;
	margin-top: 5px;
	margin-left: 5px;
	margin-bottom: 1px;
	p {
		position: relative;
		left: 6px;
		top: 3px;
    font-weight: bold;
}
}
.odd{
		background-color: #3EC871;
	}

	.even{
		background-color: green	;
	}



.huge {
    font-size: 40px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green a {
    color: #5cb85c;
}

.panel-green a:hover {
     color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red a {
    color: #d9534f;
}

.panel-red a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow a {
    color: #f0ad4e;
}

.panel-yellow a:hover {
    color: #df8a13;
}


.panel{
	width: 800px;
	margin-right: auto;
	margin-left:auto;
	div{
		font-family: "HelveticaNeue-Light";
	}
}

.panel-title {
	border-bottom: solid 2px white;

		div{
		position: relative;
		display: inline-block;
		
}
}
.panel-week{
	position: relative;
	width: 40px;
	padding-bottom: 20px;
	font-size: 1em;
	width: 30px;
	height: 30px;
		border-radius: 100%;
		
	span {
		position: relative;
		top: 4px;
		left: 5px;
		font-weight: bold;

	}

}
.panel-date {
	width: 150px;
	font-size: 1.6em;
	margin-left: 20px;
	position: relative;
	bottom: 5px;	
	

}

.panel-event {
	width:445px;
	font-size: 2em;
	margin-left: 50px;
	bottom: 3px;
	border-left: solid 2.1px white;
	text-align: center;
}

.number{
	font-size: 1.6em;
	position: relative;
	bottom: 5px;

}

.word{
	font-size: 0.8em;
	position: relative;
	bottom: 5px;	
}
.info-panel-inner div{
display: inline-block;
}

.info-number{
	font-size: 2em;
}

.info-word{
	font-size: 0.8em;
}
.info-note{
	width: 350px;
}

.day-info{

}
.week-info{
	margin-left: 100px;
}
.note-info{
	margin-left: 100px;
}